{% extends "base.html" %}
{% block container %}
    <main class="container mt-3">
        <div>
            <p class="font-weight-bold">О компании</p>
            <br>
            <p>Наш сервис по прокату автомобилей – это лучший выбор нового автомобиля в Севастополе. Высокий сервис,
                простота оформления и удобство оплаты. Мы оказываем полный спектр услуг по прокату и аренде автомобилей
                без водителя как для физических, так и для юридических лиц.</p>
            <br>
            <p>Одно из ключевых преимуществ компании Пилот – прозрачность всех правил и регламентов автопроката. Вы
                всегда точно будете знать все условия и нюансы аренды автомобиля в каждом конкретном случае. Общие
                положения правил описаны на сайте в разделе «условия», в любой момент Вы можете прекратить аренду и
                получить деньги за неиспользованные сутки.</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </main>
{% endblock %}