{% extends "base.html" %}
{% block container %}
</div>
    <main class="container">
    <section class="mt-3 pb-5">
            <h1 class="display-3 mt-4">Двухкомнатные апартаменты</h1>
            <p class="my-4 w-75">Фиолент! Самый живописный уголок Севастополя и самая чистая вода в море! Квартира
                находится на территории частного посёлка Villaris Del Mar.
                Территория круглосуточно охраняемая. Пост охраны на въезде. Камеры видеонаблюдения по всей территории.
                Парковка для машин БЕСПЛАТНАЯ внутри посёлка.<br>
                Апартаменты сдаются для ПРОЖИВАНИЯ ОТ 3-х СУТОК.Время заезда с 14:00. Время выезда до 12:00.
                БРОНЬ ПО ПРЕДОПЛАТЕ за одни сутки проживания. ЗАЛОГ 5 т р, при выезде возвращается.
                С посёлка есть спуск к собственному пляжу, идти 5 минут. Возле входа на территорию находятся 2
                автобусные остановки в обе стороны, 4 маршрута автобусов. Ходят каждые 5 минут. В центр города, на
                городские пляжи, парки, торговые центры.<br>
                Есть МАГАЗИН! ( продукты питания, фрукты-овощи, хозяйственные, пиво, табак, мясо, уголь).
                В квартире установлен кондиционер. Кухня полностью оснащена: 🍽посуда, электрочайник, холодильник с
                морозильной камерой, электроплита, микроволновая печь. Также в вашем распоряжении будут стиральная
                машина, утюг, гладильная доска, 📺телевизор, wi-fi.<br>
                Во дворе Вы можете БЕСПЛАТНО воспользоваться беседкой с мангалом🍢🍡⛲️. Для детей есть детская площадка
                с качелями и песочницей. Также спортивная зона с турниками и грушей🏋️♀️. На территории работает частный
                детский сад. На лето сад организует лагерь для школьников.<br>
                🛌Количество спальных мест 4:<br>
                -2 места на двухспальной кровате;<br>
                -1 место на раскладном диване.<br>
                ✅Главный бонус - расположение квартиры, собственный спуск на пляж, идеально чистая вода в море 🏝и
                отсутствие посторонних, только жители и гости посёлка.<br><br></p>
                <p class="font-weight-bold">Стоимость проживания на сезон 2021 года:<br>
                1-10 мая - 3500 р/сутки<br>
                11-31 мая - 2500 р/сутки<br>
                Июнь 3500 р/сутки<br>
                Июль-август 4500 р/сутки<br>
                Сентябрь - 3500 р/сутки<br>
                </p>
        </section>
    </main>
{% endblock %}