{% extends "base.html" %}


{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <img class="ml-5" src="../static/baner.png">

    <!-- CARDS -->
    <div class="row mt-5">
      {% for car in cars %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ cars[car].picture }}" width="300" height="200" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ cars[car].title }}</h2>
            {% for key, value in cars[car]['description'].items() %}
            <p class="card-text">{{ cars[car]['description'][key] }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

