{% extends "base.html" %}
{% block container %}
    <main class="container mt-3">
        <div>
            <p class="font-weight-bold">Условия проката</p><br>
            <p>Оплата услуг:</p>
            <p>- оплата производится вперед за весь период аренды автомобиля (при возврате раньше срока производится
                перерасчет)</p>
            <p>За автомобиль взимается залоговая сумма в размере от 5000 до 10000 рублей. При возврате авто залог
                возвращается при условии возврата автомобиля без повреждений и в указанное в договоре время.</p><br>
            <p>Необходимые документы на аренду автомобиля:</p>
            <p>- гражданский паспорт РФ или паспорт гражданина иностранного государства.</p>
            <p>- водительское удостоверение</p><br>
            <p>Дополнительные условия:</p>
            <p>-минимальный возраст лица, допущенного к управлению автомобиля - 30 лет *</p>
            <p>-при долгосрочной аренде предусмотрена скидка *</p>
            <p>-зона использования автомобиля - полуостров Крым, если это не предусмотрено договором аренды</p>
            <p>-автомобиль предоставляется клиенту чистый, с убранным салоном, заправленный соответствующим топливом
                (полный бак) и должен быть возвращен в том же состоянии</p><br>
            <p>Аренда автомобиля на 1 сутки предусмотрена только для постоянных клиентов компании</p><br>
            <p>При аренде автомобиля от 3 суток доставка машины бесплатно кроме Инкермана и Северной стороны</p><br>
            <p>* - индивидуально</p><br>
            <div class="row">
                <img src="../static/defult-doc.png" width="40" height="40">
                <div class="col-4">
                    <p>Для физизических лиц</p>
                    <a href="../static/dogovor_arendi.docx" download>
                        <p><span id="u2217">Скачать</span></p>
                    </a></div>
                <img src="../static/defult-doc.png" width="40" height="40">
                <div class="col-4">
                    <p>Для юридических лиц</p>
                    <a href="../static/dogovor_arendi.docx" download>
                        <p><span id="u2649">Скачать</span></p>
                    </a>
                </div>
            </div>
            <br><br>
        </div>
    </main>
{% endblock %}